<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

# Exercise 1 (Celsius to Fahrenheit)
***

The exercise does not specify the output should be in what kind of data structure,

In [4]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

In [5]:
#this solution just prints celsius and fahrenheit next to each other
for celsius in temperatures_celsius:
    fahrenheit = (celsius * 9/5)+32
    print(celsius, fahrenheit)

0 32.0
5 41.0
10 50.0
15 59.0
20 68.0
25 77.0
30 86.0
35 95.0
40 104.0
45 113.0
50 122.0

In [9]:
#this solution gives us a 2d list
cel_fah =[]
for celsius in temperatures_celsius:
    temp = [celsius, (celsius * 9/5)+32]
    cel_fah.append(temp)
print(cel_fah)

[[0, 32.0], [5, 41.0], [10, 50.0], [15, 59.0], [20, 68.0], [25, 77.0], [30, 86.0], [35, 95.0], [40, 104.0], [45, 113.0], [50, 122.0]]

# Exercise 2 (Multiplication Table)
***

## Example

In [31]:
#First we start with an outer loop
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]: #then we start a secondary loop here
        #inside this secondary loop we have a fstring being print
        print(f'{letter}{number}', end='\t') #we print the first letter from the outer loop, and all the number in the inner loops
        # the end says what to do at the end of the print. Here it means put a tab.
    print('\n')#once the inner loop is done, the outer loop prints a line break, and goes again

A1	A2	A3

B1	B2	B3

C1	C2	C3

The code above takes a letter, runs it completely through the inner loop for \[1,2,3\] and then takes another letter from the outer code.

## Task

In [34]:
for multiplicand in range(1,6): # the outer loop is for the columns
    print(f'{multiplicand}   :', end='\t') # this is outside the inner loop, so the first row gets assigned to the table row
    for multiplier in range(1,6): #the inner loop is for the rows
        print(f'{multiplicand*multiplier}', end='\t') #this is printing the product, separating them with tabs
    print('\n') #this is starting the next table on a new line

1   :	1	2	3	4	5

2   :	2	4	6	8	10

3   :	3	6	9	12	15

4   :	4	8	12	16	20

5   :	5	10	15	20	25